@{
}

<div class="container">
    <h1>You Can help us in</h1>
  <div class="row text-center mt-5">
    <a asp-controller="Services" asp-action="adopt" style="text-decoration: none; color: black;">
      <div class="col m-4" style="background-color: #e26318; border-radius: 10px; padding: 20px;">
        <h1>Adopt</h1>
      <i class="fa-solid fa-paw" style="font-size: 40px"></i>
    </div>
    </a>
    
    <a asp-controller="Services" asp-action="donate" style="text-decoration: none; color: black;">
    <div class="col m-4" style="background-color: #e26318; border-radius: 10px; padding: 20px;">
        <h1>Donate</h1>
      <i class="fa-solid fa-hand-holding-medical" style="font-size: 40px"></i>
    </div>
    </a>
</div>
</div>
