@{
    ViewData["Title"] = "What we do";
}

<div class="container">
    <h1>Here are the some of the things that we provide</h1>
  <div class="row text-center mt-5">
    <div class="col m-4" style="background-color: #e26318; border-radius: 10px; padding: 20px;">
        <h1>Animal Birth Control</h1>
      <i class="fa-solid fa-dog" style="font-size: 40px"></i>
    </div>
    
    <div class="col m-4" style="background-color: #e26318; border-radius: 10px; padding: 20px;">
        <h1>Rescue and Treatment</h1>
      <i class="fa-solid fa-capsules" style="font-size: 40px"></i>
    </div>

     <div class="col m-4" style="background-color: #e26318; border-radius: 10px; padding: 20px;">
        <h1>Rabies Prevention</h1>
      <i class="fa-solid fa-syringe" style="font-size: 40px"></i>
    </div>
    </div>
    




    <div class="row text-center mt-5">
    <div class="col m-4" style="background-color: #e26318; border-radius: 10px; padding: 20px;">
        <h1>Education and Awareness</h1>
      <i class="fa-solid fa-award" style="font-size: 40px"></i>
    </div>
    
    <div class="col m-4" style="background-color: #e26318; border-radius: 10px; padding: 20px;">
        <h1>Street Animal Feeding</h1>
      <i class="fa-solid fa-bowl-food" style="font-size: 40px"></i>
    </div>

     <div class="col m-4" style="background-color: #e26318; border-radius: 10px; padding: 20px;">
        <h1>Annual Vaccination</h1>
      <i class="fa-solid fa-briefcase-medical" style="font-size: 40px"></i>
    </div>
    </div>


  </div>
