@{
    ViewData["Title"] = "Contact Us";
}

<div class="container">
    <div class="row">
        <div class="col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14134.065952909976!2d85.32395955!3d27.670427399999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snp!4v1655797766792!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col">
            <div class="mb-3">
     <label for="name" class="form-label">Name</label>
    <input type="email" class="form-control" id="name">
    </div>
            <div class="mb-3">
     <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
    <label for="message" class="form-label">Message</label>
    <textarea class="form-control" id="Message" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-success">
        Send
    </button>
        </div>
    </div>
</div>
