@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/images/img2.jpg" class="d-block w-100" alt="dog">
    </div>
    <div class="carousel-item">
      <img src="~/images/img6.jpg" class="d-block w-100" alt="cow">
    </div>
    <div class="carousel-item">
      <img src="~/images/img7.jpg" class="d-block w-100" alt="inject">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--First Row-->
  <div class="row mt-5">
    <div class="col">
      <img src="~/images/img1.jpg" />
    </div>
    <div class="col">
      <span style="color: #e26318; font-size: 25px" class="text-center">We rescue helpless animals in their hour of need</span>
       <p class="mt-5" style="font-size: 20px">Every day our ambulance collects critically sick and injured animals, bringing them back to our vets for emergency treatment and love and care.</p>  
  </div>
    </div>

    <!--Second Row-->
    <div class="row mt-5">
    <div class="col">
      <span style="color: #e26318; font-size: 25px" class="text-center">We deliver effective solutions to the street dogs population crisis</span>
       <p class="mt-5" style="font-size: 20px">Informed by cuting edge science and with animal welfare in mind, we are humanly managing the street dog population of Nepal.</p>  
  </div>
  <div class="col">
      <img src="~/images/img1.jpg" />
    </div>
    </div>

    <!--Third Row-->
    <div class="row mt-5">
    <div class="col">
      <img src="~/images/img1.jpg" />
    </div>
    <div class="col">
      <span style="color: #e26318; font-size: 25px" class="text-center">We're defeating one of the world's most deadly diseases.</span>
       <p class="mt-5" style="font-size: 20px">Rabies has been bringing terror to the heart of mankind for millennia and still claims thousands of fatalities each year. We're working to defeat it.</p>  
  </div>
    </div>
    <hr />
<!--Fourth Row-->
      <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="~/images/dog_1.jpg" class="card-img-top" alt="">
  <div class="card-body">
    <a href="#" class="btn btn-primary">DONATE</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="~/images/dog_2.jpg" class="card-img-top" alt="">
  <div class="card-body">
    <a href="#" class="btn btn-primary">ADOPT</a>
  </div>
</div>
    </div>
  </div>
</div>    
