@{
    ViewData["Title"] = "About Us";
}



<style>

    .about_us{
        position: absolute;
        top: 10%;
        left: 40%;
        background-color: #e26318;
        padding: 20px;
        font-size: 40px;
        font-weight: bold;    
        border-radius: 10px;
    }


    .h_text{
        color: #e26318;
        font-size: 40px;
    }
</style>

<div class="container-fluid">
    <img src="~/images/about_1.jpg" style="width: 1200px; height: 600px"/>

    <!--About US-->
    <div class="about_us" stlye="widhth: 100%">
        <p class="text-center">ABOUT US</p>
    </div>

    <div class="history_text">
        <span class="h_text">
        History
    </span>

    <p>
    The Kathmandu Animal Treatment Centre (KAT Centre) was first envisioned after Jan Salter, the founder of KAT, visited the organization “Help in Suffering” in Jaipur, India.
    Impressed with the way this and other animal welfare organizations have managed difficult street dog problems and eliminated rabies through Animal Birth Control (ABC) and widespread rabies vaccinations, Jan came back to Nepal convinced that Kathmandu, Nepal could also become a rabies-free, dog-friendly city.
    The KAT Centre was registered as a non-profit, charitable animal welfare organisation in 2003. KAT officially opened its doors on 9 May 2004 and it has grown steadily since then. As we have grown, our location has changed several times, but the founding principals and our work remain the same:
    </p>

    <ol>
        <li>To rescue and treat sick and injured animals living on the streets of Kathmandu.</li>
        <li>To lower the street dog (and cat) population by spaying and neutering.</li>
        <li>To reduce the incidence of rabies and other viruses through vaccination and education.</li>
    </ol>

    <p>Our site is based on its own land, giving us security for the future and the freedom to continue expanding our facilities when the opportunity arises.

We are constantly looking ahead and developing our long term strategy for the continued management and protection of the street animals of Kathmandu.</p>

    </div>

</div>

